[submodule "rustlings"]
	path = rustlings
	url = git@github.com:Polaris3003/rustlings.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = git@github.com:Polaris3003/learning-lm-rs.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:Polaris3003/TinyInfiniTensor.git
